<ons-navigator ng-controller="MapController as vm">
   <ons-page>
        <ons-toolbar modifier="material">
        <div class="left">
              <ons-toolbar-button modifier="material" ng-click="globals.nav.popPage()">
                <i class="fa fa-arrow-left"></i>
                <ons-ripple color="rgba(0, 150, 136, 0.1)"></ons-ripple>
              </ons-toolbar-button>
            </div>
          <div class="center">Map</div>
          <div class="right">
            <ons-toolbar-button ng-click="vm.refresh()" modifier="material">
              <ons-icon icon="md-refresh"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>
        <ion-content scroll="false" data-tap-disabled="true">
            <div id="map_canvas"></div>
        </ion-content>
    </ons-page>
</ons-navigator>