<ons-page modifier="material" ng-controller="CatController as vm">
  <ons-toolbar modifier="material">
    <div class="left">
      <ons-toolbar-button modifier="material" ng-click="globals.nav.popPage()">
        <i class="fa fa-arrow-left"></i>
      </ons-toolbar-button>
    </div>
    <div class="center">Categories</div>
    <div class="right">
      <ons-toolbar-button ng-click="globals.menu.open()" modifier="material">
        <i class="fa fa-cogs"></i>
      </ons-toolbar-button>
      <ons-toolbar-button ng-click="" modifier="material">
        <i class="qd-icon icon-cartvide"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

 <!--  <ons-list modifier="material">
    <ons-list-header modifier="material">Things to do</ons-list-header>
    <ons-list-item modifier="material" ng-repeat="item in todo.items">
      <label class="checkbox checkbox--material">
        <input type="checkbox" ng-model="item.done" class="checkbox__input checkbox--material__input">
        <div class="checkbox__checkmark checkbox--material__checkmark"></div>
      </label>
      <ons-material-input label="Title" type="text" ng-show="todo.selectedItem == $index" ng-model="item.title" ng-blur="todo.selectedItem = -1"></ons-material-input>
      <span id="todo-title" class="title" ng-class="{ 'done': item.done }" ng-hide="todo.selectedItem == $index" ng-click="todo.selectedItem = $index; todo.focusInput($event)">{{ item.title || 'Untitled item' }}</span>
    </ons-list-item>
    <ons-list-item style="text-align: center;">
      <ons-button ng-click="todo.clearCompleted()" modifier="material--flat">
      <ons-ripple color="rgba(0, 150, 136, 0.1)"></ons-ripple>
      Clear completed items
    </ons-button>
    </ons-list-item>
  </ons-list> -->

  <!-- <ons-fab position="bottom right" ng-click="todo.newTodo()">
    <ons-ripple color="rgba(255, 255, 255, 0.2)"></ons-ripple>
    <ons-icon icon="md-plus" size="24px" style="line-height: 56px;"></ons-icon>
  </ons-fab> -->
</ons-page>