<ons-navigator ng-controller="MapController as vm">
   <ons-page>
        <ons-toolbar modifier="material">
          <div class="left">
            <ons-toolbar-button ng-click="globals.menu.open()" modifier="material">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">THE MOTHER FUCKER MAP</div>
          <div class="right">
            <ons-toolbar-button ng-click="vm.refresh()" modifier="material">
              <ons-icon icon="md-refresh"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>
        <ion-content scroll="false" data-tap-disabled="true">
            <div id="map_canvas"></div>
        </ion-content>

          
    </ons-page>
</ons-navigator>