<ons-page modifier="material" ng-controller="OrderController as vm">
  <ons-toolbar modifier="material">
    <div class="center">Orders</div>
    <div class="right">
      <ons-toolbar-button ng-click="vm.goToMap()" modifier="material">
        <i class="fa fa-cogs"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list modifier="material cats">
    <ons-list-header modifier="material">Orders</ons-list-header>
    <ons-list-item ng-click="vm.select(item.name)" modifier="material chevron" ng-repeat="item in vm.getItems()">
      <span class="cat-title">{{item.name}} @ {{item.time}}</span>
      <ons-ripple color="rgba(0, 150, 136, 0.1)"></ons-ripple>
    </ons-list-item>
  
  </ons-list>
</ons-page>